<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'create_receipt' %}">Create receipt</a></li>
                <li><a href="{% url 'category_list' %}">Category list</a></li>
                <li><a href="{% url 'account_list' %}">Account list</a></li>
                <li><a href="{% url 'create_category' %}">Create category</a></li>
                <li><a href="{% url 'create_account' %}">Create account</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </ul>
        </nav>
    </header>
    <table>
        <thead>
            <th>Name</th>
            <th>Number of receipts</th>
            <th>Number of receipts</th>
        </thead>
        {% for accounts in account_list %}
        <tbody>
            <td>{{ accounts.name }}</td>
            <td>{{ accounts.number }}</td>
            <td>{{ accounts.items.all|length }}</td>
        </tbody>
        {% endfor %}
    </table>
</body>

</html>
